

body {
  /* Most of these come from diamandis.com */
  background-color: #09427B;
  color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  padding: 5px;
}

#title-bar {
  text-align: center;
  /* background-color: black; */
}

#tasks {
  color: black;
  background-color: white;
  border-style: solid;
  border-color: black;

}
