body{
  /* Most of these come from diamandis.com */
  background-color: #09427B;
  color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.trashcan{
  height: 15px;
  padding: 0px 5px;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: .3em;
  align: center;
  margin: auto;
}

.App-intro {
  font-size: large;
}




.top-bar{
  /* height: 60px; */
}
.clipboard{
  height: 30px;
  padding: 0px 5px;
  margin-top: 3px;
  display:inline-block;
  /* width: 20%; */
  float: right;
}
/* Popup container - can be anything you want */
.popup {
    padding-left: 200px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* The actual popup */
 .popuptext {
    visibility: hidden;
    width: 80%;
    min-width: 325px;
    max-width: 550px;
    height: 300px;
    text-align: center;
    border-radius: 25px;
    border: solid;
    border-color: black;
    border-width: thick;
    background-color: rgba(25, 25, 25, .97);
    padding: 0px 0px;
    position: fixed;
    z-index: 1;
    top: 30%;
    right: 10%;
}
/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}




.search-bar{
  width: 40%;
  height: 20px;
  padding-left: 10px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 5px;
  display:inline-block;
  float: left;
}
/* Style the search box inside the navigation bar */
.search-bar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.task-header{
  font-size: medium;
  color: white;
  padding: 0px 50px;
  min-width: 80px;
  display: flex;
  justify-content: space-between;
}
.hdrBlk{
  display:inline-block;
  /* width: 100px; */
}
.hdrBlk>h3{
  display: inline-block;
}
.sort{
  height: 15px;
  margin-left: 5px;
  margin-top: 1px;
  display: inline-block;
}

#task-list{
  min-width: 400px;
  max-width: 700px;
  padding: 10px 0px 5px 10px;
  margin-top: 10px;
  align: center;
  margin: 0px;
}

#tasks {
  color: black;
  background-color: white;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  height: 20px;
  padding: 5px;
  margin: -3px 10px;
  display: flex;
  justify-content: space-between;
}

.task-field{
  display:inline-block;
  width: 20%;
}

#title {
  text-align: left;
  min-width: 150px;
}

#check {
  margin: auto 10px auto 5px;
}


#dot {
    height: 12px;
    width: 12px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    margin: auto 5px auto 10px;
}

#priority {
  text-align: left;
  min-width: 85px;
}

#due {
  text-align: center;
  min-width: 110px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
